* {
  black: #000000;
  white: #eae9c5;

  red: #cc241d;
  orange: #d65d0e;
  yellow: #dfab01;
  green: #98971a;
  blue: #458588;
  cyan: #89b482;
  purple: #d3869b;
 
  foreground: @black;
  background-color: @transparent;

  highlight: bold #dfab01;

  transparent: rgba(0, 0, 0, 0.3);
}

window {
  location: center;
  border-radius: 0px;
  height: 300px;
  width: 500px;
  background-color: @black;
}

/* search bar, search mode*/
entry,prompt {
  text-color: @white;
}

/* app text */
element-text {
  size: 3ch;
  vertical-align: 0.5;
  text-color: @white;
}

/* app icon */
element-icon {
  size: 52px;
  margin: 0 10 0 0;
}
